/* Styles for Category component */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  color: #333;
}

/* Styles for Products component */
.products-container {
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 8px;
  text-align: center;
  color: #333;
  color:brown;
}

/* General styles */
h1 {
  font-size: 24px;
  margin-bottom: 16px;
}
